<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>

  <body>
    <header>
        <h1>Equipe</h1>
    </header>
    <div class="container">
        <div class="row">
          <div class="col align-self-start">
            <div class="card" style="width: 10rem;">
                <img class="card-img-top" src="assets/images/blondpile.jpeg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Marcelo Sasaki</p>
                </div>
              </div>
          </div>
          <div class="col align-self-center">
            <div class="card" style="width: 10rem;">
                <img class="card-img-top" src="assets/images/blondpile.jpeg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Fabio</p>
                </div>
              </div>
          </div>
          <div class="col align-self-end">
            <div class="card" style="width: 10rem;">
                <img class="card-img-top" src="assets/images/blondpile.jpeg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Eduardo</p>
                </div>
              </div>
          </div>
          <div class="col align-self-end">
            <div class="card" style="width: 10rem;">
                <img class="card-img-top" src="assets/images/blondpile.jpeg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Nilmar</p>
                </div>
              </div>
          </div>
          <div class="col align-self-end">
            <div class="card" style="width: 10rem;">
                <img class="card-img-top" src="assets/images/blondpile.jpeg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Mirca</p>
                </div>
              </div>
          </div>
        </div>
      </div>
  </body>
</html>

