<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>

  <body>
    <header>
      <h1>Equipe</h1>
    </header>
    <div class="container">
        <div class="row">
          <div class="col align-self-start">
            <div class="card" style="width: 10rem;">
                <img class="card-img-top" src="assets/images/marcelo.png" alt="Card image cap">
                <div class="card-body">
                  <a class="card-text" href="http://linkedin.com">Marcelo Sasaki</a>
                </div>
              </div>
          </div>
          <div class="col align-self-center">
            <div class="card" style="width: 10rem;">
                <img class="card-img-top" src="assets/images/fabio.jpeg" alt="Card image cap">
                <div class="card-body">
                  <a class="card-text" href="http://linkedin.com">Fabio</a>
                </div>
              </div>
          </div>
          <div class="col align-self-end">
            <div class="card" style="width: 10rem;">
                <img class="card-img-top" src="assets/images/eduardo.jpeg" alt="Card image cap">
                <div class="card-body">
                  <a class="card-text" href="http://linkedin.com">Eduardo</a>
                </div>
              </div>
          </div>
          <div class="col align-self-end">
            <div class="card" style="width: 10rem;">
                <img class="card-img-top" src="assets/images/nilmar.jpeg" alt="Card image cap">
                <div class="card-body">
                  <a class="card-text" href="http://linkedin.com">Nilmar</a>
                </div>
              </div>
          </div>
          <div class="col align-self-end">
            <div class="card" style="width: 10rem;">
                <img class="card-img-top" src="assets/images/mirca.jpeg" alt="Card image cap">
                <div class="card-body">
                  <a class="card-text" href="http://linkedin.com">Mirca</a>
                </div>
              </div>
          </div>
        </div>
      </div>
  </body>
</html>

